In [1]:
#     Parameter

steps = 1
train_size = 0.7

In [2]:
import pandas as pd
import numpy as np
from keras.layers import Dense, BatchNormalization, Dropout, LSTM, SimpleRNN, Flatten, CuDNNLSTM
from keras.models import Sequential
import keras
import tensorflow as tf
import matplotlib.pyplot as plt
import random as rand
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_excel("all_data.xlsx", names=[i for i in range(1,21)])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,1000000000000000000000100000000000000000000000...,0100000000000000000000010000000000000000000000...,0010000000000000000000001000000000000000000000...,0001000000000000000000000010000000000000000000...,0000100000000000000000000001000000000000000000...,0000010000000000000000000000000001000000000000...,0000001000000000000000000000000000001000000000...,0000000100000000000000000000000000000010000000...,0000000010000000000000000000000000000001000000...,0000000001000000000000000000000000000000000100...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
1,1000000000000000000000010000000000000000000000...,0100000000000000000000000010000000000000000000...,0010000000000000000000000000010000000000000000...,0001000000000000000000000000000000000000001000...,0000100000000000000000000000000000000000000010...,0000010000000000000000000000000000000000000001...,0000001000000000000000000000000000000000000000...,0000000100000000000000000000000000000000000000...,0000000010000000000000000000000000000000000000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
2,1000000000000000000000100000000000000000000000...,0100000000000000000000000000001000000000000000...,0010000000000000000000000000000000000010000000...,0001000000000000000000000000000000000000000010...,0000100000000000000000000000000000000000000000...,0000010000000000000000000000000000000000000000...,0000001000000000000000000000000000000000000000...,0000000100000000000000000000000000000000000000...,0000000010000000000000000000000000000000000000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
3,1000000000000000000000100000000000000000000000...,0100000000000000000000010000000000000000000000...,0010000000000000000000000000100000000000000000...,0001000000000000000000000000000000100000000000...,0000100000000000000000000000000000010000000000...,0000010000000000000000000000000000000000000000...,0000001000000000000000000000000000000000000000...,0000000100000000000000000000000000000000000000...,0000000010000000000000000000000000000000000000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
4,1000000000000000000000100000000000000000000000...,0100000000000000000000000000001000000000000000...,0010000000000000000000000000000010000000000000...,0001000000000000000000000000000001000000000000...,0000100000000000000000000000000000001000000000...,0000010000000000000000000000000000000010000000...,0000001000000000000000000000000000000000000010...,0000000100000000000000000000000000000000000000...,0000000010000000000000000000000000000000000000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9141,1000000000000000000000010000000000000000000000...,0100000000000000000000000010000000000000000000...,0010000000000000000000000000010000000000000000...,0001000000000000000000000000000010000000000000...,0000100000000000000000000000000000100000000000...,0000010000000000000000000000000000010000000000...,0000001000000000000000000000000000001000000000...,0000000100000000000000000000000000000010000000...,0000000010000000000000000000000000000000010000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
9142,1000000000000000000010000000000000000000000000...,0100000000000000000000010000000000000000000000...,0010000000000000000000000000100000000000000000...,0001000000000000000000000000010000000000000000...,0000100000000000000000000000000001000000000000...,0000010000000000000000000000000000000001000000...,0000001000000000000000000000000000000000000010...,0000000100000000000000000000000000000000000000...,0000000010000000000000000000000000000000000000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
9143,1000000000000000000010000000000000000000000000...,0100000000000000000000000010000000000000000000...,0010000000000000000000000001000000000000000000...,0001000000000000000000000000000001000000000000...,0000100000000000000000000000000000100000000000...,0000010000000000000000000000000000000000000010...,0000001000000000000000000000000000000000000000...,0000000100000000000000000000000000000000000000...,0000000010000000000000000000000000000000000000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
9144,1000000000000000000010000000000000000000000000...,0100000000000000000000100000000000000000000000...,0010000000000000000000000001000000000000000000...,0001000000000000000000000000000010000000000000...,0000100000000000000000000000000001000000000000...,0000010000000000000000000000000000000100000000...,0000001000000000000000000000000000000010000000...,0000000100000000000000000000000000000000010000...,0000000010000000000000000000000000000000000001...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...
9145,1000000000000000000000000100000000000000000000...,0100000000000000000000000000100000000000000000...,0010000000000000000000000000010000000000000000...,0001000000000000000000000000000010000000000000...,0000100000000000000000000000000000001000000000...,0000010000000000000000000000000000000000010000...,0000001000000000000000000000000000000000000010...,0000000100000000000000000000000000000000000000...,0000000010000000000000000000000000000000000000...,0000000001000000000000000000000000000000000000...,0000000000100000000000000000000000000000000000...,0000000000010000000000000000000000000000000000...,0000000000001000000000000000000000000000000000...,0000000000000100000000000000000000000000000000...,0000000000000010000000000000000000000000000000...,0000000000000001000000000000000000000000000000...,0000000000000000100000000000000000000000000000...,0000000000000000010000000000000000000000000000...,0000000000000000001000000000000000000000000000...,0000000000000000000100000000000000000000000000...

In [4]:
library = pd.read_excel("Library.xlsx", names=["Values"])
library

                                                 Values
0     1000000000000000000010000000000000000000000000...
1     1000000000000000000001000000000000000000000000...
2     1000000000000000000000100000000000000000000000...
3     1000000000000000000000010000000000000000000000...
4     1000000000000000000000001000000000000000000000...
...                                                 ...
1215  0000000000000000000100000000000000000000000000...
1216  0000000000000000000100000000000000000000000000...
1217  0000000000000000000100000000000000000000000000...
1218  0000000000000000000100000000000000000000000000...
1219  0000000000000000000100000000000000000000000000...

[1220 rows x 1 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [6]:
lb = LabelEncoder()
lb.fit(library["Values"])
library["Values"] = lb.transform(library["Values"])
for i in df.columns:
  df[i] = lb.transform(df[i])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,1217,1156,1095,1033,972,906,843,781,720,656,593,532,469,407,337,275,206,145,73,11
1,1216,1153,1090,1017,955,894,832,768,697,635,573,507,442,380,311,248,186,124,62,0
2,1217,1149,1081,1015,953,891,830,764,698,635,573,509,442,374,312,251,185,124,62,1
3,1217,1156,1091,1025,964,889,827,766,702,640,578,517,450,384,321,258,196,134,70,3
4,1217,1149,1087,1026,963,901,835,773,711,648,584,502,441,376,314,250,187,126,65,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9141,1216,1153,1090,1027,965,904,843,781,718,652,584,522,461,396,330,269,208,145,81,13
9142,1219,1156,1091,1030,966,900,835,770,706,645,583,520,459,389,327,264,198,134,65,4
9143,1219,1153,1092,1026,965,895,826,763,702,638,571,506,443,381,313,252,190,129,67,1
9144,1219,1157,1092,1027,966,902,841,778,714,650,584,507,443,382,313,252,191,128,63,1
9145,1214,1151,1090,1027,963,898,835,769,708,643,582,521,456,394,332,271,202,138,70,9

In [7]:
model = Sequential()
model.add(Dense(2048, activation="relu", input_shape=(1220,)))
model.add(Dropout(0.2))
model.add(Dense(1080, activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(1024, activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(512, activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(256, activation="relu"))
model.add(Dense(20, activation="relu"))

opt = tf.keras.optimizers.Adam(learning_rate=0.0001, decay=0.00001)

model.compile(loss="MSE", optimizer="adam")
model.build()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 2048)              2500608

 dropout (Dropout)           (None, 2048)              0

 dense_1 (Dense)             (None, 1080)              2212920

 dropout_1 (Dropout)         (None, 1080)              0

 dense_2 (Dense)             (None, 1024)              1106944

 dropout_2 (Dropout)         (None, 1024)              0

 dense_3 (Dense)             (None, 512)               524800

 dropout_3 (Dropout)         (None, 512)               0

 dense_4 (Dense)             (None, 256)               131328

 dense_5 (Dense)             (None, 20)                5140

=================================================================
Total params: 6,481,740
Trainable params: 6,481,740
Non-trainable params: 0
_________________________________________________________________

In [ ]:
result = {}
temp = model
bestmin = float("inf")
best_prediction = []
for steps in range(1, 10):
  
  model = Sequential()
  model.add(Dense(2048, activation="relu", input_shape=(1220,)))
  model.add(Dropout(0.2))
  model.add(Dense(1080, activation="relu"))
  model.add(Dropout(0.2))
  model.add(Dense(1024, activation="relu"))
  model.add(Dropout(0.2))
  model.add(Dense(512, activation="relu"))
  model.add(Dropout(0.2))
  model.add(Dense(256, activation="relu"))
  model.add(Dense(20, activation="relu"))

  opt = tf.keras.optimizers.Adam(learning_rate=0.0001, decay=0.00001)

  model.compile(loss="MSE", optimizer="adam")
  model.build()
  model.summary()
  
  X = np.array(df)
  
  train = []
  test = []
  te = []

  for i in range(steps,9146):
    test.append(X[i, :])
    train.append(X[i-steps:i, :])
  test = np.array(test)
  train = np.array(train)
  
  for i in train:
    temp = np.zeros(1220)
    for j in i:
     for k in j:
        temp[k] += 1
    te.append(temp)
  te = np.array(te)

  train=te

  x_train, x_test, y_train, y_test = train_test_split(train, test, train_size=train_size)

  history = model.fit(x_train, y_train, epochs=100, validation_split=0.1)

  plt.plot(history.history["loss"], color="blue")
  plt.plot(history.history["val_loss"], color="green")
  plt.legend(["Training LOSS", "Validating LOSS"])
  plt.show()

  predict = model.predict(x_test)
  loss = model.evaluate(x_test, y_test)
  result[steps] = loss
  if loss < bestmin:
    bestmin, best_prediction = loss, predict

  plt.plot([max(i) for i in y_test[0:100]], color='red')
  plt.plot([max(i) for i in predict[0:100]], color='blue')
  plt.title("RESULT: MAX")
  plt.legend(["ACTUAL LIMIT", "PREDICTED LIMIT"])
  plt.show()

  plt.plot([min(i) for i in y_test[0:100]], color='green')
  plt.plot([min(i) for i in predict[0:100]], color='orange')
  plt.title("RESULT: MIN")
  plt.legend(["ACTUAL LIMIT", "PREDICTED LIMIT"])
  plt.show()

  plt.plot([np.mean(i) for i in y_test[0:100]], color='red')
  plt.plot([np.mean(i) for i in predict[0:100]], color='blue')
  plt.title("RESULT: VARIENCE")
  plt.legend(["ACTUAL VARIENCE", "PREDICTED VARIENCE"])
  plt.show()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 2048)              2500608

 dropout_4 (Dropout)         (None, 2048)              0

 dense_7 (Dense)             (None, 1080)              2212920

 dropout_5 (Dropout)         (None, 1080)              0

 dense_8 (Dense)             (None, 1024)              1106944

 dropout_6 (Dropout)         (None, 1024)              0

 dense_9 (Dense)             (None, 512)               524800

 dropout_7 (Dropout)         (None, 512)               0

 dense_10 (Dense)            (None, 256)               131328

 dense_11 (Dense)            (None, 20)                5140

=================================================================
Total params: 6,481,740
Trainable params: 6,481,740
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
180/180 [==============================] - 9s 46ms/step - loss: 108413.0703 - val_loss: 82377.8125
Epoch 2/100
180/180 [==============================] - 8s 42ms/step - loss: 84039.4922 - val_loss: 82437.6172
Epoch 3/100
180/180 [==============================] - 8s 42ms/step - loss: 83870.4062 - val_loss: 82575.6875
Epoch 4/100
180/180 [==============================] - 7s 42ms/step - loss: 84185.3125 - val_loss: 83536.6328
Epoch 5/100
180/180 [==============================] - 7s 41ms/step - loss: 84083.9609 - val_loss: 82434.0312
Epoch 6/100
180/180 [==============================] - 8s 42ms/step - loss: 83667.9844 - val_loss: 83965.0312
Epoch 7/100
180/180 [==============================] - 9s 48ms/step - loss: 83732.8594 - val_loss: 82816.4453
Epoch 8/100
180/180 [==============================] - 8s 42ms/step - loss: 83918.6641 - val_loss: 82454.2734
Epoch 9/100
180/180 [==============================] - 7s 42ms/step - loss: 83426.1484 - val_loss: 82777.5469
Epoch 10/100
180/180 [==============================] - 8s 42ms/step - loss: 83635.1406 - val_loss: 82898.1562
Epoch 11/100
180/180 [==============================] - 7s 41ms/step - loss: 83936.1016 - val_loss: 82212.9688
Epoch 12/100
180/180 [==============================] - 8s 42ms/step - loss: 83600.9766 - val_loss: 83835.5938
Epoch 13/100
180/180 [==============================] - 8s 42ms/step - loss: 83567.0703 - val_loss: 82379.5781
Epoch 14/100
180/180 [==============================] - 8s 42ms/step - loss: 83514.0547 - val_loss: 82016.2109
Epoch 15/100
180/180 [==============================] - 8s 42ms/step - loss: 83255.6016 - val_loss: 82396.3594
Epoch 16/100
180/180 [==============================] - 8s 42ms/step - loss: 83469.6250 - val_loss: 82281.8125
Epoch 17/100
180/180 [==============================] - 8s 42ms/step - loss: 83260.2266 - val_loss: 83408.8594
Epoch 18/100
180/180 [==============================] - 8s 42ms/step - loss: 83797.8203 - val_loss: 82233.1406
Epoch 19/100
180/180 [==============================] - 8s 42ms/step - loss: 83206.8047 - val_loss: 82546.8359
Epoch 20/100
180/180 [==============================] - 8s 42ms/step - loss: 83572.2656 - val_loss: 82868.7578
Epoch 21/100
180/180 [==============================] - 8s 42ms/step - loss: 83424.0703 - val_loss: 82867.8984
Epoch 22/100
180/180 [==============================] - 8s 42ms/step - loss: 83365.3672 - val_loss: 82236.0859
Epoch 23/100
180/180 [==============================] - 8s 42ms/step - loss: 83528.9688 - val_loss: 82003.7344
Epoch 24/100
180/180 [==============================] - 8s 42ms/step - loss: 83111.4453 - val_loss: 82114.3438
Epoch 25/100
180/180 [==============================] - 7s 42ms/step - loss: 83796.4688 - val_loss: 82147.9219
Epoch 26/100
180/180 [==============================] - 8s 42ms/step - loss: 83157.1094 - val_loss: 82269.0859
Epoch 27/100
180/180 [==============================] - 8s 42ms/step - loss: 83163.7812 - val_loss: 82163.1172
Epoch 28/100
180/180 [==============================] - 8s 47ms/step - loss: 83427.3828 - val_loss: 82022.0938
Epoch 29/100
180/180 [==============================] - 8s 42ms/step - loss: 83277.3750 - val_loss: 82431.1562
Epoch 30/100
180/180 [==============================] - 8s 42ms/step - loss: 83556.8594 - val_loss: 82742.8672
Epoch 31/100
180/180 [==============================] - 8s 42ms/step - loss: 83183.2891 - val_loss: 80426.5547
Epoch 32/100
180/180 [==============================] - 8s 42ms/step - loss: 81325.1328 - val_loss: 80153.5938
Epoch 33/100
180/180 [==============================] - 8s 42ms/step - loss: 81445.0469 - val_loss: 81091.5781
Epoch 34/100
180/180 [==============================] - 8s 42ms/step - loss: 81385.5469 - val_loss: 80281.5781
Epoch 35/100
180/180 [==============================] - 8s 42ms/step - loss: 81396.2969 - val_loss: 80222.8438
Epoch 36/100
180/180 [==============================] - 8s 42ms/step - loss: 81558.9453 - val_loss: 81718.5625
Epoch 37/100
180/180 [==============================] - 8s 42ms/step - loss: 81383.9375 - val_loss: 80823.6562
Epoch 38/100
180/180 [==============================] - 8s 42ms/step - loss: 81639.8281 - val_loss: 80199.0859
Epoch 39/100
180/180 [==============================] - 8s 42ms/step - loss: 81749.2188 - val_loss: 82475.9766
Epoch 40/100
180/180 [==============================] - 8s 42ms/step - loss: 81543.6016 - val_loss: 80134.2031
Epoch 41/100
180/180 [==============================] - 8s 42ms/step - loss: 81257.2578 - val_loss: 80381.7656
Epoch 42/100
180/180 [==============================] - 8s 42ms/step - loss: 81377.0156 - val_loss: 80135.8906
Epoch 43/100
180/180 [==============================] - 8s 42ms/step - loss: 81593.2656 - val_loss: 81543.1406
Epoch 44/100
180/180 [==============================] - 8s 42ms/step - loss: 81459.9297 - val_loss: 80150.8672
Epoch 45/100
180/180 [==============================] - 8s 42ms/step - loss: 81661.3750 - val_loss: 80059.5703
Epoch 46/100
180/180 [==============================] - 8s 42ms/step - loss: 81437.6797 - val_loss: 80302.6016
Epoch 47/100
180/180 [==============================] - 8s 43ms/step - loss: 81280.8594 - val_loss: 80101.3203
Epoch 48/100
180/180 [==============================] - 8s 42ms/step - loss: 81409.6484 - val_loss: 80762.2109
Epoch 49/100
 45/180 [======>.......................] - ETA: 5s - loss: 81331.7422

In [ ]:
result

In [ ]:
prediction = []
for i in best_prediction:
  prediction.append(lb.inverse_transform(i))